@charset "UTF-08";

body {
    margin: 0px;
    padding: 0px;
}

main {
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    
}

#celular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#celular > img {
    height: 550px;
}

#tela > img {
    height: 413px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    position: absolute;
}

#menu {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    height: 365px;
}

.botao {
    display: flex;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    border: 2px solid transparent;
}

.botao:hover {
    transform: scale(1.2);
    border: 2px solid rgba(255, 255, 255, 0.644);
    transform: translate(5px, -2px);
}

iframe {
    height: 415px;
    width: 235px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 0px;
    position: absolute;
}