@charset "UTF-8";

img {
}

header {
    position: fixed;
    background-color: #2B2D43;
    margin: 0px;
    height: 117px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
}

#rowheader {
    display: flex;
    align-items: center;
    
    height: 2.5rem;
}